USE [master]
GO
/****** Object:  Database [FABRICA]    Script Date: 2/12/2019 6:57:06 PM ******/
CREATE DATABASE [FABRICA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FABRICA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.DG\MSSQL\DATA\FABRICA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FABRICA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.DG\MSSQL\DATA\FABRICA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FABRICA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FABRICA]
GO
USE [FABRICA]
GO
/****** Object:  Table [dbo].[FARTIARTIH]    Script Date: 2/12/2019 6:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FARTIARTIH](
	[ARTIARTI_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[FABRFABR_CODIGO] [int] NOT NULL,
	[ARTIARTI_EXISTENCIA] [int] NOT NULL,
	[ARTIARTI_DESCRIPCION] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FARTIARTIH] PRIMARY KEY CLUSTERED 
(
	[ARTIARTI_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FCLIECLIEH]    Script Date: 2/12/2019 6:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FCLIECLIEH](
	[CLIECLIE_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CLIELIMI_CODIGO] [int] NOT NULL,
	[CLIECLIE_SALDO] [int] NOT NULL,
 CONSTRAINT [PK_FCLIECLIEH] PRIMARY KEY CLUSTERED 
(
	[CLIECLIE_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FCLIELIMIH]    Script Date: 2/12/2019 6:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FCLIELIMIH](
	[CLIELIMI_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CLIELIMI_MONTO] [int] NOT NULL,
 CONSTRAINT [PK_FCLIELIMIH] PRIMARY KEY CLUSTERED 
(
	[CLIELIMI_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FDIREENVIH]    Script Date: 2/12/2019 6:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FDIREENVIH](
	[DIREENVI_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DIREENVI_NOMBRE] [nvarchar](50) NOT NULL,
	[CLIECLIE_CODIGO] [int] NOT NULL,
 CONSTRAINT [PK_FDIREENVIH] PRIMARY KEY CLUSTERED 
(
	[DIREENVI_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FDISTDISTH]    Script Date: 2/12/2019 6:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FDISTDISTH](
	[DISTDIST_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DISTDIST_TELEFONO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FDISTDISTH] PRIMARY KEY CLUSTERED 
(
	[DISTDIST_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FDISTRELAD]    Script Date: 2/12/2019 6:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FDISTRELAD](
	[DISTDIST_CODIGO] [int] NOT NULL,
	[FABRFABR_CODIGO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FFABRFABRH]    Script Date: 2/12/2019 6:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FFABRFABRH](
	[FABRFABR_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[FABRFABR_NOMBRE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FFABRFABRH] PRIMARY KEY CLUSTERED 
(
	[FABRFABR_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FPEDIPEDID]    Script Date: 2/12/2019 6:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPEDIPEDID](
	[PEDIPEDI_CODIGO] [int] NOT NULL,
	[ARTIARTI_CODIGO] [int] NOT NULL,
	[PEDIPEDI_CANTIDAD] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FPEDIPEDIH]    Script Date: 2/12/2019 6:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPEDIPEDIH](
	[PEDIPEDI_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CLIECLIE_CODIGO] [int] NOT NULL,
	[DIREENVI_CODIGO] [int] NOT NULL,
	[PEDIPEDI_FECHA] [datetime2](7) NOT NULL,
	[PEDIPEDI_DESCUENTO] [money] NOT NULL,
 CONSTRAINT [PK_FPEDIPEDIH] PRIMARY KEY CLUSTERED 
(
	[PEDIPEDI_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_FDIREENVIH]    Script Date: 2/12/2019 6:57:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_FDIREENVIH] ON [dbo].[FDIREENVIH]
(
	[DIREENVI_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FCLIECLIEH]  WITH CHECK ADD  CONSTRAINT [FK_FCLIECLIEH_FCLIELIMIH] FOREIGN KEY([CLIELIMI_CODIGO])
REFERENCES [dbo].[FCLIELIMIH] ([CLIELIMI_CODIGO])
GO
ALTER TABLE [dbo].[FCLIECLIEH] CHECK CONSTRAINT [FK_FCLIECLIEH_FCLIELIMIH]
GO
ALTER TABLE [dbo].[FDISTRELAD]  WITH CHECK ADD  CONSTRAINT [FK_FDISTRELAD_FDISTDISTH] FOREIGN KEY([DISTDIST_CODIGO])
REFERENCES [dbo].[FDISTDISTH] ([DISTDIST_CODIGO])
GO
ALTER TABLE [dbo].[FDISTRELAD] CHECK CONSTRAINT [FK_FDISTRELAD_FDISTDISTH]
GO
ALTER TABLE [dbo].[FDISTRELAD]  WITH CHECK ADD  CONSTRAINT [FK_FDISTRELAD_FFABRFABRH] FOREIGN KEY([FABRFABR_CODIGO])
REFERENCES [dbo].[FFABRFABRH] ([FABRFABR_CODIGO])
GO
ALTER TABLE [dbo].[FDISTRELAD] CHECK CONSTRAINT [FK_FDISTRELAD_FFABRFABRH]
GO
ALTER TABLE [dbo].[FPEDIPEDID]  WITH CHECK ADD  CONSTRAINT [FK_FPEDIPEDID_FARTIARTIH] FOREIGN KEY([ARTIARTI_CODIGO])
REFERENCES [dbo].[FARTIARTIH] ([ARTIARTI_CODIGO])
GO
ALTER TABLE [dbo].[FPEDIPEDID] CHECK CONSTRAINT [FK_FPEDIPEDID_FARTIARTIH]
GO
ALTER TABLE [dbo].[FPEDIPEDID]  WITH CHECK ADD  CONSTRAINT [FK_FPEDIPEDID_FPEDIPEDIH] FOREIGN KEY([PEDIPEDI_CODIGO])
REFERENCES [dbo].[FPEDIPEDIH] ([PEDIPEDI_CODIGO])
GO
ALTER TABLE [dbo].[FPEDIPEDID] CHECK CONSTRAINT [FK_FPEDIPEDID_FPEDIPEDIH]
GO
ALTER TABLE [dbo].[FPEDIPEDIH]  WITH CHECK ADD  CONSTRAINT [FK_FPEDIPEDIH_FCLIECLIEH] FOREIGN KEY([CLIECLIE_CODIGO])
REFERENCES [dbo].[FCLIECLIEH] ([CLIECLIE_CODIGO])
GO
ALTER TABLE [dbo].[FPEDIPEDIH] CHECK CONSTRAINT [FK_FPEDIPEDIH_FCLIECLIEH]
GO
USE [master]
GO
